<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version ="5.1" sku=".NetFramework,Version=5.6.1"/>
	</startup>
	<connectionStrings>
		<add name="TeamProjectDB" connectionString="server=titansreallyrule.info;                             
				 user=d6304c5_Team1; password=sql_001001;database=d6304c5_Team1;port=3306" />
	</connectionStrings>
</configuration>